label {
    font-weight: 500;
}

input[formControlName="medical_note"] {
    border-color: var(--p-red-300);
    background-color: var(--p-red-50);
}

textarea[formcontrolname="medical_note"] {
  background: var(--p-red-50);
  border-color: var(--p-red-200);
}

label[for^="consent_media_"] {
  font-size: 0.85rem;
  color: var(--p-text-secondary-color);
  line-height: 1.3;
}

label[for="newsletter"] {
  font-size: 0.9rem;
  color: var(--p-text-secondary-color);
  line-height: 1.4;
}